<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h3>ADD VENTILATOR</h3>
<form action="/addVent" method="POST">
	<input type="text" name="hid" placeholder="hid">
	<input type="text" name="vid" placeholder="vid">
	<input type="text" name="status" placeholder="status">
	<input type="text" name="hname" placeholder="hname">
<input type="submit">
</form>
</body>
</html>