<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h3>DELETE VENTILATOR</h3>
	<form action="/delVent" method="POST">
		<input type="text" name="vid" placeholder="vid">
	    <input type="submit">
	</form>

</body>
</html>