<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title></title>
</head>
<body>

<button onclick="window.location.href='hospDetails';" class="btn btn-secondary btn-lg">Hospital Details</button><br>
<button onclick="window.location.href='ventDetails';" class="btn btn-secondary btn-lg">Ventilator Details</button><br>
<button onclick="window.location.href='searchVent';" class="btn btn-secondary btn-lg">Search Ventilator</button><br>
<button onclick="window.location.href='searchHosp';" class="btn btn-secondary btn-lg">Search Hospital</button><br>
<button onclick="window.location.href='updateVent';" class="btn btn-secondary btn-lg">Update Ventilator</button><br>
<button onclick="window.location.href='addVent';" class="btn btn-secondary btn-lg">Add Ventilator</button><br>
<button onclick="window.location.href='delVent';" class="btn btn-secondary btn-lg">Delete Ventilator</button><br>
</body>
</html>
