<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h3>UPDATE VENTILATOR</h3>
<form action="/updateVent" method="POST">
	<input type="text" name="vid" placeholder="vid">
	<input type="submit">
</form>
</body>
</html>